.datefield {
  display: flex;
  flex-direction: column;
}
label {
  display: inline-block;
  margin-right: 10px;
}
input {
  display: block;
}
form {
  display: flex;
}

.quote-button {
  margin-top: 18px;
}

.recent-stocks {
  display: flex;
  /* flex-direction: column; */
  width: 202.5px;
  flex-wrap: wrap;
}

.quote-form {
  height: 35%;
}

.quote-book {
  height: 65%;
  display: flex;
  width: 100%;
}

.options-price {
  justify-content: center;
  display: flex;
  border: white 1px solid;
  padding: 10px;
  font-size: 1.5rem;
  user-select: none;
}
.options-price:active {
  color: black !important;
  background: white !important;
}
/* .options-price:hover {
  color: rgb(61, 61, 61);
  background: rgb(119, 119, 119);
} */
.order-info {
  display: flex;
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5;
  color: white;
  margin-bottom: 12px;
}

.quote-left {
  margin-right: 50px;
}

.quote-right {
}

.send-button-broker {
  color: white;
  background-color: green;
  height: 28.5px;
  margin-right: 5px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.00938em;
  width: 82px;
}
.cancel-button-broker {
  color: white;
  background-color: red;
  height: 28.5px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.00938em;
  width: 82px;
}

.get-quote-button {
  background: rgba(0, 153, 229, 0.9);
  color: white;
}

input {
  margin-top: 3px;
  line-height: 20px;
  font-size: 1rem;
}

.quote-right-top {
  display: flex;
  align-items: flex-end;
}
input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
}

button:hover {
  cursor: pointer;
}

table,
th,
td {
  border: 1px white solid;
}
.img-container {
  position: relative;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s;
  z-index: 0;
  /* top: -150px; */
  top: 20px;
  left: 0px;
}

.text-tag {
  display: flex;
  z-index: 2;
  width: 0px;
  height: 0px;
  cursor: help;
}

.text-tag:hover .img-container {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.8s;
}
