.paper {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #141414 !important;
  /* position: relative */
} /* width */
::-webkit-scrollbar {
  width: 10px;
  border: 1px solid #141414;
  border-radius: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #828282;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(241, 240, 240);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3b3b3b;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.messagesBody {
  background-color: #141414 !important;
  width: calc(100%);
  padding-top: 10px;
  overflow-y: scroll;
  height: calc(100%);
  padding-bottom: 10px;
}
